# Xcode
#
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/

# macOS
.DS_Store

# Secrets
.env
!.env.example
HabitTracker/Secrets.swift