.dart_tool/
.packages
.env
!.env.example
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
.DS_Store
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
